APP_NAME=Core Speak API
APP_ENV=development
APP_DEBUG=true
APP_BASE_URL=http://127.0.0.1:8000

# Formato MySQL:
# mysql+pymysql://usuario:password@localhost:3306/corespeak
DATABASE_URL=mysql+pymysql://corespeak:corespeak@localhost:3307/corespeak

JWT_SECRET_KEY=change-me-please
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_MINUTES=60

# IA (Groq)
GROQ_API_KEY=
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.3-70b-versatile

# Stripe (opcional)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_MONTHLY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

